doctype

html
	head
		meta(charset='utf-8')

		title #{self.title} — A demo

		for script in self.scripts
			script(type='text/javascript', src=script.url, async=script.async)

		for stylesheet in self.stylesheets
			link(
				rel='stylesheet',
				type='text/css',
				href=stylesheet.url
			)

	body
		h1#title An example

		p#content Hello, 
			em world!
